.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: white;
}

.snowflake {
    width: 1vw;
    height: 1vw;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
    animation: snowfall 10s linear infinite;
}

.snowflakeBlur {
    filter: blur(1px);
}

@keyframes snowfall {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(110vh);
    }
}